body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.column {
  width: 50%;
  float: left;
}

#terms {
  height: 250px;
  width: 550px;
  font-size: 12pt;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: normal;
  margin-top: 50px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

li {
  float: left;
  display: block;
  text-color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: lightgray;
}

li:hover {
  background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.topnav {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  margin-left: 22.5%;
}

.bolded {
  font-weight: 800;
  color: red;
  font-style: italic;
}

#outputL {
  text-align: left;
}

#summaries {
  text-align: left;
}
